<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container-fluid">

    <h1 th:replace="fragments :: logo"></h1>
    <nav th:replace="fragments :: navigation"></nav>

    <div th:text="'Total number of entries: ' + ${count}"></div>

    <table class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Stock</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.stock}"></td>
            <td>
                <a th:href="@{/remove/{id}(id=${book.id})}">Remove</a> |
                <a th:href="@{/edit/{id}(id=${book.id})}">Edit</a>
            </td>
        </tr>
    </table>


</body>
</html>