<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container-fluid">

<h1 th:replace="fragments :: logo"></h1>
<nav th:replace="fragments :: navigation"></nav>


<a th:href="@{/user/{id}/order/add(id=${user.id})}">Request new book order</a> |

<table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
    <tr th:if="${orders}" th:each="bookOrder : ${orders}">
        <td th:text="${bookOrder.title}"></td>
        <td th:text="${bookOrder.author}"></td>
        <td>
            <a th:href="@{/user/order/remove/{id}(id=${bookOrder.id})}">Remove</a> |
            <a th:href="@{/user/order/edit/{id}(id=${bookOrder.id})}">Edit</a>
        </td>
    </tr>
</table>


</body>
</html>