<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container-fluid">

<h1 th:replace="fragments :: logo"></h1>
<nav th:replace="fragments :: navigation"></nav>


<table class="table">
    <tr>
        <th>Username</th>
        <th>Email</th>
    </tr>
    <tr th:if="${users}" th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td>
            <a th:href="@{/user/{id}/remove/(id=${user.id})}">Remove</a> |
            <a th:href="@{/user/{id}/edit/(id=${user.id})}">Edit</a> |
        </td>
    </tr>
</table>


</body>
</html>