.logo {
    font-size: 350%;
    font-family: courier;
    font-weight: bold;
    text-align: center;
}
.logoT {
    font-family: courier;
    font-weight: bold;
    font-size: 150%;
    text-align: center;
}