<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">

    <meta charset="UTF-8"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>
    <title>MyBrary Inventory System</title>

</head>
<body>

<h1 th:fragment="logo" align="center" style="font-size:200%; font-family:courier; font-weight:bold;">
    <hr>
    MyBrary
    <hr>
</h1>


<nav th:fragment="navigation">
    <a href="/search">Search</a> |
    <a href="/search/inventory">View Inventory</a> |
    <a href="/add">Add Item</a>
</nav>

</body>
</html>