<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container-fluid">


    <div class="container-fluid">
        <h1 class="logo">MyBrary</h1>
        <p class="logoT">
            Welcome to MyBrary Book Cataloging Service!
        </p>
    </div>
    <hr class="my-4">
    <div class="text-center">
         <div class="btn-group-vertical">
            <a class="btn btn-primary" href="/search" role="button">Search Inventory</a>
            <a class="btn btn-primary" href="/search/inventory" role="button">View Full Inventory</a>
            <a class="btn btn-primary" href="/add" role="button">Add Item to Inventory</a>
         </div>
    </div>

</body>
</html>