<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>

<body class="container-fluid">

<h1 th:replace="fragments :: logo"></h1>
<nav th:replace="fragments :: navigation"></nav>

<div class="container-fluid" align="center" style="color:red; font-family:courier; font-weight:bold;">
    CONFIRM DELETION</div>
<div class="container-fluid" align="center" style="color:red; font-family:courier; font-weight:bold;">
    Are you sure you would like to remove this book?</div>

<table class="table">
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Stock</th>
    </tr>
    <tr>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.stock}"></td>
    </tr>
</table>
<form method="post">
    <input type="hidden" th:value="${book.id}" name="id" />
    <input type="submit" value="Remove book">
    <input type="submit" value="Keep book" formaction="/">
</form>


</body>
</html>